.title,
.subtitle
  word-break: break-word
  em,
  span
    font-weight: inherit
  sub,
  sub
    font-size: 0.75em
  sup,
  sup
    font-size: 0.75em
  .tag,
  .tag
    vertical-align: middle

.title
  color: #363636
  font-size: 2rem
  font-weight: 600
  line-height: 1.125
  strong
    color: inherit
    font-weight: inherit
  & + .highlight
    margin-top: -0.75rem
  &:not(.is-spaced) + .subtitle
    margin-top: -1.25rem
  &.is-1
    font-size: 3rem
  &.is-2
    font-size: 2.5rem
  &.is-3
    font-size: 2rem
  &.is-4
    font-size: 1.5rem
  &.is-5
    font-size: 1.25rem
  &.is-6
    font-size: 1rem
  &.is-7
    font-size: 0.75rem

.subtitle
  color: #4a4a4a
  font-size: 1.25rem
  font-weight: 400
  line-height: 1.25
  strong
    color: #363636
    font-weight: 600
  &:not(.is-spaced) + .title
    margin-top: -1.25rem
  &.is-1
    font-size: 3rem
  &.is-2
    font-size: 2.5rem
  &.is-3
    font-size: 2rem
  &.is-4
    font-size: 1.5rem
  &.is-5
    font-size: 1.25rem
  &.is-6
    font-size: 1rem
  &.is-7
    font-size: 0.75rem

.heading
  display: block
  font-size: 11px
  letter-spacing: 1px
  margin-bottom: 5px
  text-transform: uppercase
